.wrap {
	min-width: 1400px;
	width: 1400px;
	margin:0 auto;
}

@font-face {
	font-family: DroidSerif;
	src: url(droid-serif.italic.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(Montserrat-Regular.otf);
}

@font-face {
	font-family: MyriadPro;
	src: url(MyriadPro-Regular.otf);
}

@font-face {
	font-family: RobotoSlab;
	src: url(RobotoSlab-Regular.ttf);
}

small {
	color:#777777;
}



.home {
	width: 100%;
	height: 700px;
	color: #ffffff;	
	background: url(../img/home_background.jpg) no-repeat;
	text-align: center;
	position: relative;
}

.home nav {
	width: 100%;
	height: 120px;
}

.home .logo {
	width: 79px;
	height: 28px;
	display: inline-block;
	position: absolute;
	left: 237px;
	top: 44px;
}

.home .menu {
	text-transform: uppercase;
	font: 14px 'Montserrat';
	margin: 51px 229px 0 0;
}

.home .menu>li {
  display: inline-block;
  margin-left: 37px;
}

.home h3 {
	font: 40px 'DroidSerif';
	margin:150px 0 0 7px;
}

.home h1 {
	font: bold 75px 'Montserrat';
	margin: 25px 0 0 5px;
	letter-spacing: -2px;
}

.home .btn {
	margin-top: 40px;
}

.btn {
	width:240px;
	height: 65px;
	background: #fed136;
	border-radius: 2px;
	border:none;
	cursor: pointer;
	color: #ffffff;
	font: 18px 'Montserrat';
}



.projectTitle {
	text-align: center;
}

.projectTitle>p {
	font: bold 40px 'Montserrat';
	text-transform: uppercase;
	letter-spacing: -3px;
	padding-top: 110px;
}

.projectTitle>small {
	font: 16px 'DroidSerif';
	line-height: 35px;
}


.service {
	width: 100%;
	height: 568px;
	background: #fff;
}


.service ul {
	width: 80%;
	text-align: center;
	height: 350px;
	margin: 67px auto 0 auto;
}

.service ul>li {
	display: inline-block;
	height: 60%;
	width: 29%;
}

.service ul>li>span {
	font: 18px 'Montserrat';
	margin-top: 21px;
}

.service ul>li>small {
	font: 14px 'RobotoSlab';
	margin-top: 12px;
}

.service ul>li>* {
	display: block;
	margin: 0 auto;
}




.portfolio {
	height: 1218px;
	width: 100%;
	background: #f7f7f7;
}

.portfolio>ul {
	width: 80%;
	height: 80%;
	margin: 67px auto 0 auto;
	text-align: center;
}

.portfolio>ul>li {
	display: inline-block;
	text-align: center;
	width: 290px;
	height: 393px;
	background: #ffffff;
	margin-bottom: 50px;
	position: relative;
}

.portfolio>ul>li:nth-child(3n-1	) {
	margin: 0 31px 50px 31px;
}

.portfolio>ul>li>* {
	display: block;
}

.portfolio>ul>li>span {
	font:18px 'Montserrat';
	margin-top: 20px;
}

.portfolio>ul>li>small {
	font: 14px 'DroidSerif';
}


.about {
	width: 100%;
	height: 1666px;
	background:#fff;
}

.about .aboutDetail {
	width: 80%;
	height: 80%;
	margin: 0 auto;	
	position: relative;
	margin-top: 69px;
}

.about .aboutDetail>div {
	width: 100%;
}



.aboutText>p {
	font: 18px 'Montserrat';
}

.aboutText>small {
	font: 14px 'RobotoSlab';
	color: #777777;
}

.aboutDetail .aboutText {
	display: inline-block;
	width: 30%;
	text-align: right;
	position: absolute;
	left: 8%;

}

.aboutDetail .aboutText>p:nth-of-type(2) {
	margin:4px 0 0 0;
}

.aboutDetail>div:nth-of-type(even)>.aboutText {
	text-align: left;
	left: 688px;
}

.aboutDetail>div:nth-of-type(odd)>.aboutText {
	text-align: right;
	right: 60%;
}

.aboutDetail .aboutText>small {
	margin-top: 12px;
	display: inline-block;
	line-height: 21px;
}


.aboutDetail .aboutImg {
	width: 168px;
	height: 168px;
	margin: 0 auto;
  border-radius: 168px;
  overflow: hidden;
  border: 7px solid #f1f1f1;
}

.aboutDetail>div:last-child .aboutImg {
	text-align: center;
	background: #fed136;
	font: 18px 'Montserrat';
	color: #ffffff;
}

.aboutDetail>div:last-child .aboutImg>a {
		display: inline-block;
	margin-top: 37px;
}

.aboutCol {
	display: block;
	height: 93px;
	width: 2px;
	background: #f1f1f1;
	margin: 0 auto;
}






.team {
	width: 100%;
	height: 818px;
	background: #f7f7f7;
	text-align: center;
}

.team>ul {
	width: 790px;
	height: 384px;
	margin: 78px auto 0 auto;
}

.team>ul>li:nth-of-type(2) {
	margin: 0 55px 0 55px;
}

.team>ul>li {
	width: 220px;
	overflow: hidden;
	display: inline-block;
}

.team>ul>li>a>img {
	width: 220px;
	height: 220px;
	border-radius: 220px;
}

.team>ul>li>span {
	display: block;
	font:bold 16px 'MyriadPro';
	margin:18px 0 0 0;
}

.team>ul>li>small {
	font: 14px 'MyriadPro';
	color: #777777;
}

.team .logoUl {
	width: 100%;
	height: 50px;
	margin: 13px 0 0 0;
}

.logoUl #twitter {
	background-color: #00aced ;
}


.logoUl #google{
	background-color: #d95232 ;
}

.logoUl #facebook {
	background-color: #3b5998 ;
}

.logoUl #pinterest {
	background-color: #cb2028 ;
}

.team>small {
	font: 16px 'RobotoSlab';
}



.ads {
	width: 100%;
	height: 164px;
	text-align: left;
}

.ads>ul {
	width: 60%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.ads>ul>li {
	height: 100%;
	display: inline-block;
	margin: 59px 40px 0 0;
}

.ads>ul>li:first-child {
	vertical-align: 4px;
}

.ads>ul>li:last-child {
	margin-right: 0;
}



.contact {
	width: 100%;
	height: 676px;
	background: url(../img/contact_background.jpg) no-repeat;
}

.contact>.projectTitle>p{
	color: #ffffff;
	padding-top: 100px;
}


.contact>form {
	width: 80%;
	height: 60%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	margin-top: 71px;
}

.contact>form>input[type='text'] {
	display: block;
	width: 455px;
	height: 50px;
	margin:0 0 30px 90px;
}

.contact>form>textarea {
	position: absolute;
	width: 455px;
	height: 212px;
	left: 574px;
	top: -2px;
	resize: none;
	padding-top: 16px;
}

.contact>form>input[type='text']
, .contact>form>textarea {
	font:14px 'MyriadPro';
	color: #969595;;
	border: 1px solid #cccccc;
	border-radius: 2px;
	box-sizing: border-box;
	padding-left: 20px;
}




footer {
	width: 100%;
	height: 90px;
	background: #fff;
	text-align: center;
	font: 14px 'Montserrat';
}

footer>span {
	margin: 10px 0 0 230px;
	color: #555555;
	font-size: 14px;
}

footer>ul {
	width: 20%;
	height: 100%;
	text-align: center;
	margin: 20px auto 0 auto;
}
 

#twitter {
	background-image: url(../img/logo_twitter.png);
	background-repeat: no-repeat;
	background-position: 50%;
}

#google {
	background-image: url(../img/logo_google.png) ;
	background-repeat: no-repeat;
	background-position: 50%;
}

#facebook {
	background-image: url(../img/logo_facebook.png) ;
	background-repeat: no-repeat;
	background-position: 47%;
}

#pinterest {
	background-image: url(../img/logo_pinterest.png);
	background-repeat: no-repeat;
	background-position: 50%;
}

.logo_social {
	width: 41px;
	height: 41px;
	border-radius: 42px ;
	box-sizing: border-box;
	display: inline-block;
	background-color: #222222;
	margin: 0 3px;
}

.logo_social>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.alpha {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .4);
}






